										{{ $baseurl := .Site.BaseUrl }}
										<article class="group post-2865 post type-post status-publish format-video has-post-thumbnail hentry category-music post_format-post-format-video">
											<div class="post-inner post-hover">
												<!--文章封面-->
												<div class="post-thumbnail">
													<a title="Test" href="{{ .RelPermalink }}">
														<img class="attachment-thumb-medium wp-post-image" width="520" height="245" alt="Test" src="{{ $baseurl }}{{.Params.cover}}">
													</a>
													<!--
													<a class="post-comments" href="#">
														<span><i class="fa fa-comments-o"></i>2</span>
													</a>
													-->
												</div>
												<!--文章meta-->
												<div class="post-meta group">
													<!--<p class="post-category">
														<a rel="category" href="#">Music</a>
													</p> -->
													<p class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
												</div>
												<!--文章头-->
												<h2 class="post-title">
													<a href="{{ .RelPermalink }}" title="Test" rel="bookmark">{{.Title}}</a>
												</h2>
												<!--文章摘要-->
												<div class="entry excerpt">
													<p> {{ .Summary }}</p>
													<p> <a href='{{ .Permalink }}'><nobr>Read more →</nobr></a></p>
												</div>
											</div>

										</article>