							{{ $baseurl := .Site.BaseUrl }}
							<div class="sidebar s1">
								<a title="Expand Sidebar" class="sidebar-toggle"><i class="fa icon-sidebar-toggle"></i></a>
								<div class="sidebar-content">
									<div class="sidebar-top group">
										<p>Follow:</p>
										<ul class="social-links">
											<li>
												<a href="https://github.com/itmajun" target="_blank" class="social-tooltip" title="Github" rel="nofollow">
													<i class="fa icon-github"></i>
												</a>
											</li>
											<li>
												<a href="mailto:itmajun@163.com" class="social-tooltip" title="Email" rel="nofollow">
													<i class="fa icon-envelope"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="sidebar-content">
									<div id="profile">
										<!--头像-->
										<div id="profile-image">
											<img src="{{ $baseurl }}images/profile/profile.jpg">
										</div>
										<!--姓名-->
										<div id="profile-name">
											Majun
										</div>
										<div id="profile-description">
											张学友是一名程序员. 真的
										</div>
									</div>
								</div>
							</div>